<%# 
  ** This is a comment block in EJS. It will not be output in the browser

  This head will be included on every page rendered with EJS.
%>

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Cv, Jason O'Neill</title>
<link rel="stylesheet" href="/css/styles.css" />
<link rel= "icon" href="/images/favicon.ico">

<script src="https://kit.fontawesome.com/bc41e9273e.js" crossorigin="anonymous"></script>